* {
    margin: 0;
    padding: 0;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 500px;
    border: 1px solid black;
    background-color: #f4e4ba;
}

.container{
    border: 1px solid black;
    padding: 20px;
    height: 450px;
    width: 350px;
    border-radius: 20px;
    background-color: aliceblue;
    
}

.h {
    display: flex;
    justify-content: center;
    align-items: center;
    
}

form {
   
    margin: 2rem 0 1rem 0;
}

form button, img,
input {
    
    width: 100%;
    border-radius: 10px;
}

form input {
  border: 1px solid lightgray;
  font-size: 1rem;
  height: 3rem;
  padding-left: 0.5rem;
}

.dropdown {
   
    margin-top: 50px;
    justify-content: space-between;
    align-items: center;
    display: flex;
    border: 1px solid lightgray;
    padding: 10px;

}

.dropdown i {
  font-size: 1.5rem;
  margin-top: 1rem;
  
}



.select-container{
 display: flex;
  justify-content: center;
  align-items: center;
  width: 6rem;
  border-radius: 0.5rem;
  border: 1px solid lightgray;

}

.select-container img {
    width: 40px;
    height: 50px;
}

.select-container select {
  font-size: 1rem;
  width: auto;
}

.msg {
  margin-top: 50px ;
  display: flex;
  justify-content: center;
}

form button {
  height: 3rem;
  background-color: #af4d98;
  color: #fff;
  font-size: 1.15rem;
  cursor: pointer;
  margin-top:50px ;
}

